html {
    height: 100%;
  }
  
  body {
    /*System fonts*/
    font-family: -apple-system, BlinkMacSystemFont,
      “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
      “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
      sans-serif;
    color: #202020;
    box-sizing: border-box;
    margin: 0; 
    height: 100%;
  
    display: flex;
    flex-direction: column;
  }

   /*****Text styles*****/
  /*Headings*/
  h1 {
    margin: 0;
    font-size: 2em;
  }
  
  /*Icons*/
  .fas {
    margin-right: 10px;
  }
